

h1{
    text-align: center;
}
.calendar{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 40px repeat(5,1fr);


    row-gap: 20px;
    column-gap: 20px;

}

.date, .day{
    background-color: yellow;
    border-radius: 10px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
}

.day{
    background-color: lightgray;
    font-weight: 700;
}
.day:hover{
    background-color: black;
    color: rgb(255, 255, 255);
    transition: 1s;
}
